name: iOS Build and Upload to TestFlight

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby 3.2.2
        uses: ruby/setup-ruby@v1
        
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
          working-directory: ios
        
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with: 
          flutter-version: '3.38.1'
          channel: 'stable'

      - name: Decode App Store Connect key
        env:
          ASC_KEY_BASE64: ${{ secrets.ASC_KEY_BASE64 }}
        run: 
          echo $ASC_KEY_BASE64 | base64 --decode > ios/fastlane/AuthKey.p8

      - name: Run fastlane beta
        env:
          MATCH_PASSWORD: " "
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_KEY_BASE64: ${{secrets.ASC_KEY_BASE64}}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{secrets.MATCH_GIT_BASIC_AUTHORIZATION}}
        run: |
          cd ios
          bundle exec fastlane teste
